.theme {
    height: 100vh;
}
.theme.white {
    background-color: white;
}
.theme.grey {
    background-color: #eae2e2;
}

/* get rid of several undesired focus Effects, happening not only on the Toggle Button */
*:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/*
TOGGLER CSS taken from
https://rsuitejs.com/components/toggle/
webpack://node_modules/rsuite/dist/styles/rsuite-default.css
*/

.rs-btn-toggle {
    height: 24px;
    min-width: 44px;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #d9d9d9;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out,
        width 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rs-btn-toggle::after {
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    border-radius: 9px;
}
.rs-btn-toggle:active::after {
    width: 21.6px;
}
.rs-btn-toggle .rs-btn-toggle-inner {
    margin-left: 24px;
    margin-right: 8px;
    height: 24px;
    line-height: 2;
    font-size: 12px;
}
.rs-btn-toggle .rs-btn-toggle-inner .rs-icon {
    font-size: 12px;
}
.rs-btn-toggle.rs-btn-toggle-checked::after {
    left: 100%;
    margin-left: -21px;
}
.rs-btn-toggle.rs-btn-toggle-checked:active::after {
    margin-left: -24.6px;
}
.rs-btn-toggle.rs-btn-toggle-checked .rs-btn-toggle-inner {
    margin-right: 24px;
    margin-left: 8px;
}
.rs-btn-toggle:hover {
    background-color: #c5c6c7;
}
.rs-btn-toggle::after {
    content: '';
    cursor: pointer;
    position: absolute;
    background-color: #fff;
    -webkit-transition: left 0.2s ease-in-out, margin-left 0.2s ease-in-out,
        width 0.2s ease-in-out;
    transition: left 0.2s ease-in-out, margin-left 0.2s ease-in-out,
        width 0.2s ease-in-out;
}
.rs-btn-toggle-inner {
    color: #ffffff;
    display: block;
    -webkit-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out;
}
.rs-btn-toggle-checked {
    background-color: #3498ff;
}
.rs-btn-toggle-checked:hover {
    background-color: #2589f5;
}
.rs-btn-toggle-disabled,
.rs-btn-toggle-disabled::after {
    cursor: not-allowed;
}
.rs-btn-toggle-disabled,
.rs-btn-toggle-disabled:hover {
    background-color: #f7f7fa;
}
.rs-btn-toggle-disabled.rs-btn-toggle-checked,
.rs-btn-toggle-disabled.rs-btn-toggle-checked:hover {
    background-color: #cce9ff;
}
.rs-btn-toggle-sm {
    height: 14px;
    min-width: 26px;
    border-radius: 7px;
}
.rs-btn-toggle-sm::after {
    width: 10px;
    height: 10px;
    left: 2px;
    top: 2px;
    border-radius: 5px;
}
.rs-btn-toggle-sm:active::after {
    width: 12px;
}
.rs-btn-toggle-sm .rs-btn-toggle-inner {
    margin-left: 14px;
    margin-right: 6px;
    height: 14px;
    line-height: 1.4;
    font-size: 10px;
}
.rs-btn-toggle-sm .rs-btn-toggle-inner .rs-icon {
    font-size: 10px;
}
.rs-btn-toggle-sm.rs-btn-toggle-checked::after {
    left: 100%;
    margin-left: -12px;
}
.rs-btn-toggle-sm.rs-btn-toggle-checked:active::after {
    margin-left: -14px;
}
.rs-btn-toggle-sm.rs-btn-toggle-checked .rs-btn-toggle-inner {
    margin-right: 14px;
    margin-left: 6px;
}
.rs-btn-toggle-md {
    height: 24px;
    min-width: 44px;
    border-radius: 12px;
}
.rs-btn-toggle-md::after {
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    border-radius: 9px;
}
.rs-btn-toggle-md:active::after {
    width: 21.6px;
}
.rs-btn-toggle-md .rs-btn-toggle-inner {
    margin-left: 24px;
    margin-right: 8px;
    height: 24px;
    line-height: 2;
    font-size: 12px;
}
.rs-btn-toggle-md .rs-btn-toggle-inner .rs-icon {
    font-size: 12px;
}
.rs-btn-toggle-md.rs-btn-toggle-checked::after {
    left: 100%;
    margin-left: -21px;
}
.rs-btn-toggle-md.rs-btn-toggle-checked:active::after {
    margin-left: -24.6px;
}
.rs-btn-toggle-md.rs-btn-toggle-checked .rs-btn-toggle-inner {
    margin-right: 24px;
    margin-left: 8px;
}
.rs-btn-toggle-lg {
    height: 30px;
    min-width: 55px;
    border-radius: 15px;
}
.rs-btn-toggle-lg::after {
    width: 22px;
    height: 22px;
    left: 4px;
    top: 4px;
    border-radius: 11px;
}
.rs-btn-toggle-lg:active::after {
    width: 26.4px;
}
.rs-btn-toggle-lg .rs-btn-toggle-inner {
    margin-left: 30px;
    margin-right: 10px;
    height: 30px;
    line-height: 2.14285714;
    font-size: 14px;
}
.rs-btn-toggle-lg .rs-btn-toggle-inner .rs-icon {
    font-size: 14px;
}
.rs-btn-toggle-lg.rs-btn-toggle-checked::after {
    left: 100%;
    margin-left: -26px;
}
.rs-btn-toggle-lg.rs-btn-toggle-checked:active::after {
    margin-left: -30.4px;
}
.rs-btn-toggle-lg.rs-btn-toggle-checked .rs-btn-toggle-inner {
    margin-right: 30px;
    margin-left: 10px;
}
